h1{
 color:blue;
}

img{
  width: 400px;
}

thirdDiv{
  padding: 50px;
  height: 600px;
  width: 500px;
  background-color: crimson;
  border: 10px dotted green;
  
}

spanId{
  font-size: 18px;
  margin: 50px;
}